<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    
    <!-- Your custom overrides -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper full-width">
      <section>
        {{ content }}
      </section>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
